<ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <div class="ion-text-center">
          <h1>EasyRU</h1>
          <p>Plataforma unificada para cadastro e débito de boletos GRU do Restaurante Universitário da Universidade Federal de Alagoas</p>
        </div>
  
      <ion-button color="danger" expand="full" fill="outline">Entrar no Sistema</ion-button>
      <ion-button color="danger" expand="full" fill="outline">Cadastre-se!</ion-button>
  
  </ion-content>