<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ready">
  <div
    *ngIf="this.authService.data.is_consumer == false; then thenBlock else elseBlock"
  ></div>
  <ng-template #thenBlock>
    <ion-button expand="block" (click)="scanCode()">Ler QRCode</ion-button>
  </ng-template>

  <ng-template #elseBlock>
    <div class="qrcode">
      <ngx-qrcode [(qrc-value)]="code" qrc-version="8"></ngx-qrcode>
    </div>
  </ng-template>

  <div class="options" *ngIf="alreadyScan">
    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input [(ngModel)]="quantity"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="debit('lunch')">Almoço</ion-button>
    <ion-button expand="block" (click)="debit('dinner')">Janta</ion-button>
    <ion-button expand="block" (click)="debit('soup')">Sopa</ion-button>
  </div>
</ion-content>
