<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>

  <ion-item class="loginFormButtons">
    <ion-label position="floating">Nome Completo</ion-label>
    <ion-input [class.is-danger]="user.name.message" [(ngModel)]="user.name.value" type="text">
    </ion-input>
    <p *ngIf="user.name.message" class="danger">{{ user.name.message }}</p>
  </ion-item>

  <ion-item class="loginFormButtons">
    <ion-label position="floating">Senha</ion-label>
    <ion-input [class.is-danger]="user.password.message" [(ngModel)]="user.password.value" type="password">
    </ion-input>
    <p *ngIf="user.password.message" class="danger">{{ user.password.message }}</p>
  </ion-item>

  <ion-item class="loginFormButtons">
    <ion-label position="floating">Confirme sua senha</ion-label>
    <ion-input [class.is-danger]="user.confirmPassword.message" [(ngModel)]="user.confirmPassword.value"
      type="password">
    </ion-input>
    <p *ngIf="user.confirmPassword.message" class="danger">{{ user.confirmPassword.message }}</p>
  </ion-item>

  <ion-item class="loginFormButtons">
    <ion-label position="floating">CPF</ion-label>
    <ion-input [class.is-danger]="user.cpf.message" [(ngModel)]="user.cpf.value" type="text"
      [brmasker]="{mask: '000.000.000-00', type:'num'}" maxlength="14">
    </ion-input>
    <p *ngIf="user.cpf.message" class="danger">{{ user.cpf.message }}</p>
  </ion-item>

  <ion-button color="success" class="register-button" expand="block" (click)="register()">Cadastrar</ion-button>

</ion-content>