.top {
  background-color: #1AD174;
  height: 135px;
  margin-bottom: 7%;
}

.menu-button {
  padding: 4%;
  font-size: 25px;
  color: white;
  border: no-border;
}

.balance {
  color: white;
  text-align: center;
  font-size: 25px;
}

.card-item-description {
  font-size: 15px;
}

.card-item-icon {
  margin: 1%;
}

.balance-text {
  font-size: 12px;
}

.qrcode{
  border: no-border;
  margin-left: 225px;
  color: white;
}