<ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <div class="ion-text-center">
          <h1>EasyRU</h1>
          <p>Sistema de Gerenciamento de GRUs - Universidade Federal de Alagoas</p>
        </div>
  
      <ion-button color="danger" expand="full" fill="outline">Cadastrar GRU</ion-button>
      <ion-button color="danger" expand="full" fill="outline">Debitar GRU</ion-button>
      <ion-button color="danger" expand="full" fill="outline">Cadastrar Pessoa</ion-button>
  
  </ion-content>