.loginButton {
    margin-top: 25px;
}

.danger {
    color: red;
}

h1 {
    margin-top: 15%;
    margin-bottom: 20%;
}

ion-card {
    margin-top: 15%;
    margin-bottom: 25%;
}

.button2{
    margin-inline-end: 50px;
}